.prosthetic{
    background-color: thistle;
    font-family:Helvetica;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.image{
    text-align: center;
}
.Turboheading{
    font-size: 20px;
}